%li{ id: "page_#{page.id}" }
  %div
    %i{ class: (page.published? ? 'icon-eye-open' : 'icon-eye-close') }
    = page.title
    %span.controls
      = link_to 'Add child', new_admin_page_page_path(page), class: 'btn btn-mini'
      = link_to 'Show', [:admin, page], class: 'btn btn-mini'
      = link_to 'Edit', edit_admin_page_path(page), class: 'btn btn-mini'
      = link_to 'Destroy', [:admin, page], confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger'

  = content_tag(:ol, nested_pages(sub_pages))