= f.input :name
= f.input :filter, collection: PagePart.filters.collect { |k,v| [v, k] }, include_blank: false, input_html: { class: 'filter', data: { editor: "page-part-content-#{f.object.id}" } }
= f.input :content, input_html: { id: "page-part-content-#{f.object.id}", class: 'span6 editor', data: { filter: PagePart.filters[f.object.filter].downcase } }
= f.input :_destroy, as: :hidden, input_html: { class: 'destroy-page-part' }